@charset "UTF-8";
/* 전체 페이지 공통 */
body {
	margin: 0px;
}

/* 페이지 너비 설정 */
#wrap {
	width: 1100px;
	margin: 0 auto;
	font-family: "Berlin Sans FB", "맑은 고딕", serif;
}

/*-------------------- 헤더 파트 --------------------*/

#head_wrap {
	width: 100%;
	height: 258px;
	font: inherit;
}

#head_wrap a {
	text-decoration: none;
}

/* 시계 */
#clock {
	margin: 0px 5px;
	font-size: 13px;
	float: right;
}

/* 페이지 아이콘 */
#head_wrap h1 {
	padding: 0px;
	margin: 0px;
	font-size: 80px;
}
#head_wrap h1 a {
	color: #ac7339;
}

/* 메인화면 아이콘과 검색창 */
#head_front {
	margin: 10px 30px 5px 30px;
	padding: 10px 20px;
	height: 110px;
}

/* 헤더 메뉴 */
.menu {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid black;
}

.menu ul {
	margin: 0px 30px;
	padding: 0px 20px;
}

.menu li {
	list-style-type: none;
	display: block;
	float: left;
	
	width: auto;
	height: auto;
	margin: 15.5px 50px 0 0;
	padding-bottom: 17.5px;
	
	text-align: center;
	font: inherit;
	font-size: 18.5px;
	font-weight: bold;
}

.menu a {
	color: black;
}

.menu a:hover {
	color: #ac7339;
}

/* 헤더 메뉴 하단 메뉴 */
.lay_menu {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid black;
}
.lay_menu ul {
	margin: 0px 30px;
	padding: 0px 20px;
}
.lay_menu li {
	list-style-type: none;
	float: left;
	width: auto;
	height: auto;
	margin: 12.5px 50px 0 0;
	text-align: center;
	font: inherit;
	font-size: 16px;
	font-weight: bold;
}

.lay_menu a {
	color: black;
}

.lay_menu a:hover {
	color: #ac7339;
}

/* 하단 메뉴 클릭 상태 */
a.on {
	color: #ac7339;
}

/* 상단 로그인/로그아웃 파트 */
#h_log ul {
	display: table;
	float: right;
	margin: 0 auto;
	padding: 0;
	font-size: 13px;
}
#h_log li {
	display: inline-block;
	list-style-type: none;
	padding: 0px 2px 0px 1px;
	cursor: pointer;
}

/*-------------------- 컨텐츠 파트 --------------------*/

/* 컨텐츠 랩 설정 */
#cont_wrap {
	clear: both;
	width: 100%;
	height: auto;
}
#cont_wrap section {
	width: 100%;
}

/*-------------------- 푸터 파트 --------------------*/
#foot_wrap {
	clear: both;
	border-top: 1px solid black;
	width: 100%;
	height: 262px;
}
footer {
	width: auto;
	padding: 20px 50px;
}
footer h4 {
	margin: 5px auto 25px auto;
	text-align: center;
}
footer h5{
	margin: 25px auto 5px auto;
	text-align: center;
}
footer p {
	margin: 10px;
	padding: 0 70px;
}
strong {
	background-color: #ac7339;
	color: white;
}